<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/smartmenu")
    @Styles.Render("~/Content/smartmenu")

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/jqueryui1")

    @Scripts.Render("~/bundles/grid")
    @Styles.Render("~/Content/grid")


    @RenderSection("scripts", required: false)
    <script type="text/javascript">
	$(function() {
		$('#main-menu').smartmenus({
			subMenusSubOffsetX: 0,
			subMenusSubOffsetY: 0
		});
	});
    </script>
    <style type="text/css">
        #main-menu {
            position: relative;
            z-index: 9999;
            width: auto;
        }

            #main-menu ul {
                width: 12em; /* fixed width only please - you can use the "subMenusMinWidth"/"subMenusMaxWidth" script options to override this if you like */
            }
    </style>

</head>
<body>
    <div class="container">

        <section id="header">

            <div id="headerTop" class="row">
                <div class="col-lg-6 col-md-7 col-sm-8">
                    <img class="mainLogo" src="~/Content/Images/logoMedAppWithText%20(Vector).svg" height="100" alt="Medical Software"/>
                </div>
                <div class="col-lg-6 col-md-5 col-sm-4">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
            @{
                var controllerName = Request.RequestContext.RouteData.Values["controller"].ToString();
                
            <div id="headerMenu" class="row">
                <ul id="main-menu" class="sm sm-blue">                    
                    
                    <li>@Html.ActionLink("Home".ToUpper(), "Index", "Home", new { @class = "Home" == controllerName ? "selected" : "" })</li>
                    @if (Request.IsAuthenticated)
                    {
                        if(User.IsInRole("admin"))
                        {
                            <li>
                                @Html.ActionLink("Prictice", "Index", "Home")
                            </li>
                        }                    
                    
                        <li>
                            @Html.ActionLink("Accounting".ToUpper(), "Index", "Home", new { href = "javascript:void(0);", @class = "Accounting" == controllerName ? "selected" : "" })
                            <ul>
                                <li>@Html.ActionLink("Transactions", "Index", "Home")</li>
                                <li>@Html.ActionLink("Deposits\\Payments", "Index", "Home")</li>
                                <li>@Html.ActionLink("Claim Management", "Index", "Home")</li>
                                <li>@Html.ActionLink("Statement Management", "Index", "Home")</li>
                                <li>@Html.ActionLink("Patient Ledger", "Index", "Home")</li>
                                <li>@Html.ActionLink("Guarantor Ladger", "Index", "Home")</li>
                                <li>@Html.ActionLink("Quick Balance", "Index", "Home")</li>
                                <li>@Html.ActionLink("Patient Quick Entry", "Index", "Home")</li>
                                <li>@Html.ActionLink("Billing Charges", "Index", "Home")</li>
                                <li>@Html.ActionLink("Small balance Write-Off", "Index", "Home")</li>
                                <li>@Html.ActionLink("Collection List", "Index", "Home")</li>
                            </ul>
                        </li>
                    
                        <li>
                            @Html.ActionLink("Patient Management".ToUpper(), "Index", "Home", new { href = "javascript:void(0);", @class = "Patient Management" == controllerName ? "selected" : "" })
                            <ul>
                                <li>@Html.ActionLink("Patients, Guarantors and Cases", "Index", "Home")</li>
                                <li>@Html.ActionLink("Patient Recall", "Index", "Home")</li>
                                <li>@Html.ActionLink("Providers", "Index", "Home")
                                    <ul>
                                        <li>@Html.ActionLink("Providers", "Index", "Home")</li>
                                        <li>@Html.ActionLink("Classes", "Index", "Home")</li>
                                    </ul>
                                </li>
                                <li>@Html.ActionLink("Referring Providers", "Index", "Home")</li>
                            </ul>
                        </li>
                    
                        <li>@Html.ActionLink("Appointment Book".ToUpper(), "Index", "Home")</li>
                    
                        <li>
                            @Html.ActionLink("Lists".ToUpper(), "Index", "Home", new { href = "javascript:void(0);", @class = "Lists" == controllerName ? "selected" : "" })
                            <ul>
                                <li>@Html.ActionLink("Procedure\\Payment\\Adjustment Codes", "Index", "Home")</li>
                                <li>@Html.ActionLink("MultiLink Codes", "Index", "Home")</li>
                                <li>@Html.ActionLink("Diagnosis Codes", "Index", "Home")</li>
                                <li>@Html.ActionLink("Insurance", "Index", "Home")
                                    <ul>
                                        <li>@Html.ActionLink("Carriers", "Index", "Home")</li>
                                        <li>@Html.ActionLink("Classes", "Index", "Home")</li>
                                    </ul>
                                </li>
                                <li>@Html.ActionLink("Addresses", "Index", "Home")</li>
                                <li>@Html.ActionLink("Edi Receivers", "Index", "Home")</li>
                                <li>@Html.ActionLink("Facilities", "Index", "Home")</li>
                                <li>@Html.ActionLink("Billing Codes", "Index", "Home")</li>
                                <li>@Html.ActionLink("Contact List", "Index", "Home")</li>
                                <li>@Html.ActionLink("Condition Codes", "Index", "Home")</li>
                                <li>@Html.ActionLink("Claim rejection messages", "Index", "Home")</li>
                                <li>@Html.ActionLink("Payment plans", "PaymentPlanList", "Lists")</li>
                            </ul>
                        </li>
                    
                        <li>
                            @Html.ActionLink("Reports".ToUpper(), "Index", "Home", new { href = "javascript:void(0);", @class = "Reports" == controllerName ? "selected" : "" })
                            <ul>
                                <li>@Html.ActionLink("Day Sheets", "Index", "Home")
                                    <ul>
                                        <li>@Html.ActionLink("Patient Day Sheet", "Index", "Home")</li>
                                        <li>@Html.ActionLink("Procedure Day Sheet", "Index", "Home")</li>
                                        <li>@Html.ActionLink("Payment Day Sheet", "Index", "Home")</li>
                                    </ul>
                                </li>
                                <li>@Html.ActionLink("Analisys Reports", "Index", "Home")
                                    <ul>
                                        <li>@Html.ActionLink("Payment", "Index", "Home")
                                            <ul>
                                                <li>@Html.ActionLink("Billing/Payment Status", "Index", "Home")</li>
                                                <li>@Html.ActionLink("Co-Payment Report", "Index", "Home")</li>
                                                <li>@Html.ActionLink("Outstanding CO-Payment Report", "Index", "Home")</li>
                                                <li>@Html.ActionLink("Unapplied Payment/Adjustment Report", "Index", "Home")</li>
                                                <li>@Html.ActionLink("Unapplied Deposit Report", "Index", "Home")</li>
                                            </ul>
                                        </li>
                                        <li>@Html.ActionLink("Referring", "Index", "Home")
                                            <ul>
                                                <li>@Html.ActionLink("Practice Analysis", "Index", "Home")</li>
                                                <li>@Html.ActionLink("Insurance Analysis", "Index", "Home")</li>
                                            </ul>
                                        </li>
                                        <li>@Html.ActionLink("Electronic Claims Analysis", "Index", "Home")
                                            <ul>
                                                <li>@Html.ActionLink("Detail", "Index", "Home")</li>
                                                <li>@Html.ActionLink("Summary", "Index", "Home")</li>
                                            </ul>
                                        </li>
                                        <li>@Html.ActionLink("Appointment Eliggigbility Analysis", "Index", "Home")
                                            <ul>
                                                <li>@Html.ActionLink("Detail", "Index", "Home")</li>
                                                <li>@Html.ActionLink("Summary", "Index", "Home")</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>                            
                            </ul>
                        </li>
                    }
                    <li>@Html.ActionLink("About".ToUpper(), "About", "Home", new { @class = "About" == controllerName ? "selected" : "" })</li>
                    <li>@Html.ActionLink("Contact".ToUpper(), "Contact", "Home", new { @class = "Contact" == controllerName ? "selected" : "" })</li>
                </ul>
            </div>
                    }
        </section>

        <section id="body">
            

            @RenderBody()
        </section>

        <section id="footer"></section>

    </div>











    @*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>*@

    
</body>
</html>
